* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00d0ff;
}

h1 {
    border: solid #990000;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

.empty-space {
    height: 50px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.buttons li {
    border: 1px solid #990000;
    background-color: #004ed0;
    width: 400px;
    height: 75px;
    margin: 0 0 10px 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.outside-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

li.img-link {
    max-width: 200px;
}

li.img-link img {
    width: 100%;
}