body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: purple;
    background-color: #ffe;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    color: #ffe;
    background-color: #900;
    font-size: 2em;
}